Wether/Wether.xcodeproj/xcuserdata/alexeyzayakin.xcuserdatad/xcschemes/xcschememanagement.plist
Wether/Wether.xcodeproj/project.xcworkspace/xcuserdata/alexeyzayakin.xcuserdatad/UserInterfaceState.xcuserstate
Wether/Wether.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Wether/Wether.xcodeproj/project.xcworkspace/contents.xcworkspacedata
.DS_Store
Wether/Wether.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
